@import "work-includes";

threads {
  display: block;
  background-color: white;

  ul {
    li {
      @include clearfix;

      padding: 10px 6px;
      border-top: 1px solid #ccc;

      &:first-child {
        border-top: none;
      }

      header {
        * {
          display: inline-block;
          vertical-align: middle;
        }
        h4 {
          @include ellipsis(70%);
        }

        time {
          width: 30%;
          text-align: right;
        }
      }

      main {
        margin-top: 5px;
        $avatar-diameter: 35px;

        .avatar {
          width           : $avatar-diameter;
          height          : $avatar-diameter;
          background-color: green;
          border-radius   : $avatar-diameter;
          position        : absolute;
        }

        .message {
          overflow   : hidden;
          margin-left: $avatar-diameter + 5px;
          min-height : $avatar-diameter;

          .co-pilot {
            margin-bottom: 5px;
          }

          p {
            @include ellipsis(100%);
          }
        }
      }
    }
  }
}