@import "work-includes";

$avatar-width: 35px;

messaging {
  display         : block;
  background-color: $neutral-color-lightest;
  text-align      : center;

  avatar {
    float: left;
    width: $avatar-width;
  }

  .messages, .respond {
    max-width: 600px;
    width    : 100%;
  }

  .messages {
    overflow  : auto;
    margin-top: $margin;
  }

  .message {
    text-align      : left;
    background-color: $white;
    margin-top      : $margin-smallest;
    margin-left     : $avatar-width + $margin-small;
    padding         : $padding;
    position        : relative;

    &::before {
      content      : "";
      position     : absolute;
      top          : 0;
      left         : -10px;
      width        : 0;
      height       : 0;
      border-top   : 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right:10px solid $white;
      margin-top   : $margin-smallest;
    }

    .name {
      font-weight: bold;
    }

    .title {
      font-size: $font-size-smallest;
    }

    time {
      margin-left: $margin-small;
    }

    .title {
      margin-top: $margin-smallest/2;
    }

    > .download {
      @include vertical-align-middle();

      margin-top: $margin-smallest;
      display: block;

      p {
        margin: 0 0 0 $margin-smallest;
      }
    }

    .attachments {
      margin-top: $margin-small;

      > li {
        width           : 50px;
        height          : 40px;
        background-color: purple;
        display         : inline-block;
        margin          : 5px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .respond {
    margin-top: $margin-small;

    .icon {
      float: left;
    }

    form {
      text-align: left;
      margin-left: $avatar-width + $margin-smallest;

      textarea {
        width  : 100%;
      }

      > button {
        margin-top: $margin-small;
      }
    }
  }
}
