@import "work-includes";

threads {
  display: block;

  > ul {
    > li {
      border-top: 1px solid $neutral-color-light;

      > a {
        display: block;
        padding: $padding;

        &.unread {
          background-color: $primary-color;

          .app-name, time {
            color: $white;
          }
        }

        &:hover {
          background-color: $accent-color;

          .app-name, time {
            color: $white;
          }
        }
      }

      &:first-child {
        border-top: none;
      }

      .app-name {
        @include ellipsis;

        line-height: 18px; /* due to hidden overfluw from ellipsis */
      }

      .sender {
        @include vertical-align-middle;

        margin-top: $margin-smallest;

        .name, time {
          margin-left: $margin-smallest;
        }

        .name {
          @include ellipsis(120px);

          color: $black;
          font-weight: bold;
          line-height: 18px; /* due to hidden overfluw from ellipsis */
        }
      }

      .message {
        color: $black;

        margin-left: 35px + $margin-smallest; /* avatar width + margin */
        margin-top: 0;
      }
    }
  }
}