.flex.center.stretch(flush-height=true)
  main.flex.column.middle.flex-grow
    h1 Messaging

    p You have {{vm.activeThread.messages.length}} messages with {{vm.activeThread.publishers[0]}}

    ul.messages.flex-grow
      li(ng-repeat="message in vm.activeThread.messages track by $index")
        avatar(avatar-url="{{ vm.activeThread[publisherId] }}")

        .message.elevated-bottom
          a.name(href="#") {{message.publisherId}}

          time {{ message.createdAt | timeLapse }}

          p.title Co-Pilot

          p {{ message.body }}

          ul.attachments
            li(ng-repeat="attachment in message.attachments track by $index")
              a(href="#") {{ message.attachments.originalUrl }}

          a.download
            .icon.download.smallest

            p Download all images

      a(id="messaging-bottom-{{ vm.threadId }}")

    .respond
      .icon.warning

      form(ng-submit="vm.sendMessage()")
        textarea(placeholder!="Send a message&hellip;" ng-model="vm.newMessage")

        button.wider.action(type="submit" ng-hide="vm.sending") reply

        button.wider.action(disabled=true ng-show="vm.sending") sending...
