.flex.column.middle(flush-height=true)
  p You have {{vm.thread.messages.length}} messages with {{vm.thread.publishers[0]}}

  ul.messages.flex-grow
    li(ng-repeat="message in vm.thread.messages track by $index")
      avatar(avatar-url="{{ vm.thread[publisherId] }}")

      .message.elevated-bottom
        a.name(href="#") {{message.publisherId}}

        time {{ message.createdAt | timeLapse }}

        p.title Co-Pilot

        p {{ message.body }}

        ul.attachments
          li(ng-repeat="attachment in message.attachments track by $index")
            a(href="#") {{ message.attachments.originalUrl }}

        a.download(ng-if="message.attachments.length > 0")
          .icon.download.smallest

          p Download all images

    a(id="messaging-bottom-{{ vm.threadId }}")

  .respond
    .icon.warning

    form(ng-submit="vm.sendMessage()")
      textarea(placeholder!="Send a message&hellip;" ng-model="vm.newMessage")

      button.wider.action(type="submit" ng-hide="vm.sending") reply

      button.wider.action(disabled=true ng-show="vm.sending") sending...
