ul
  li(ng-repeat="thread in vm.threads track by $index")
    a.unread(ui-sref="messaging({ id: thread.id })")
      .app-name App name goes here

      .sender
        avatar(avatar-url="{{ vm.avatars[thread.messages[0].publisherId]  }}")

        .name this is a very very very long name

        time {{ thread.messages[0].createdAt | timeLapse }}

      p.message {{ thread.messages[0].body }}

.none(ng-show="vm.threads.length == 0") None