ul.messages
  li(ng-repeat="message in vm.messages track by $index")
    .avatar

    .message
      p {{ message.body }}

      ul.attachments
        li(ng-repeat="attachment in message.attachments track by $index")
          a(href="#") {{ message.attachments.originalUrl }}

      time created at: {{ message.createdAt }}

form
  textarea(placeholder!="Send a message&hellip;")

  button.enter(type="submit") Enter

  button.attach(type="button")
    .icon

    span Add Attachment
