ul
  li(ng-repeat="thread in vm.threads track by $index")
    header
      h4 {{ thread.subject }}

      time {{ thread.messages[0].createdAt }}

    main
      img.avatar(ng-src="{{ vm.avatars[thread.messages[0].createdBy] }}")

      .message
        .co-pilot {{ thread.messages[0].createdBy }}:

        p {{ thread.messages[0].body }}
